input{
    width: 150px;
    padding: 8px 10px;
    border:1px solid;
    border-radius: 5px;
    font: size 14px;
    border-color: blue;
}
input:focus{
    
    box-shadow: 2px 2px 10px rgba(78, 11, 185, 0.5);
}